* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.navbar {
  height: 55px;
  background: rgba(245, 90, 90, 1);
  display: flex;
  align-items: center;
  padding: 0px 40px;
}

.navbar > p {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 1);
}

.navbar > img {
  height: 24px;
  margin-right: 7px;
}

p, body {
  margin: 0px;
}

.card--image {
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 5px;
}

.card {
  display: flex;
  padding: 20px 0px 20px 0px;
  align-items: center;
}

.container {
  padding: 27px 40px 0px 40px;
  width: 60%;
  margin-top: 3%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 7px 0px 7px 19px;
  width: 326px;
  height: 40px;
}

.description {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
}

.location {
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  letter-spacing: 0.05em;
  display: inline;
  margin-left: 4px;
}

.duration {
  font-weight: 700;
  font-size: 13px;
  line-height: 12px;
  letter-spacing: -0.02em;
  margin: 0px 0px 9px 19px;
}

a {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
  display: inline;
  margin-left: 12px;
}

.pin, .description {
  margin-left: 19px;
}

.info {
  padding-top: 19px;
}

hr {
  border: 1px solid #F5F5F5;
}